* {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
